<h1>Hi </h1>
<button style="color: black;background-color: aliceblue;">
    <a href="/register" style="text-decoration: none;color: black">Register</a>
</button>
<button style="color: black;background-color: aliceblue;">
    <a href="/login" style="text-decoration: none;color: black;">Login</a>
</button>


